In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, json
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
from sqlalchemy.types import TEXT, VARCHAR, INT, FLOAT, CHAR, DATETIME, BIGINT

In [2]:
df = pd.read_csv("data/filtered_movies.csv")
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,\N,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,\N,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,\N,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,\N,126,Drama

In [3]:
df['genres'].head()

0    Comedy,Fantasy,Romance
1                     Drama
2                     Drama
3      Comedy,Horror,Sci-Fi
4                     Drama
Name: genres, dtype: object

In [4]:
# genre list
df['genres_split'] = df['genres'].str.split(',')
df.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,\N,70,Drama,[Drama]

In [5]:
g_exploded = df.explode('genres_split')
g_exploded

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,\N,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,\N,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
104634,tt9916362,movie,Coven,Akelarre,0,2020.0,\N,92,"Drama,History",Drama
104634,tt9916362,movie,Coven,Akelarre,0,2020.0,\N,92,"Drama,History",History
104635,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019.0,\N,\N,"Adventure,History,War",Adventure
104635,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019.0,\N,\N,"Adventure,History,War",History
104635,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019.0,\N,\N,"Adventure,History,War",War

In [6]:
unique_genres = sorted(g_exploded['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western',
 '\\N']

In [7]:
title_genres = g_exploded[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [8]:
## dictionary
genre_ints = range(len(unique_genres))
map = dict(zip(unique_genres, genre_ints))
map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24,
 '\\N': 25}

In [9]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,\N,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,\N,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,\N,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,\N,126,Drama,[Drama]

In [10]:
# string to INT id
title_genres['genres_id'] = title_genres['genres_split'].replace(map)
title_genres.head()

      tconst genres_split  genres_id
0  tt0035423       Comedy          5
0  tt0035423      Fantasy          9
0  tt0035423      Romance         18
1  tt0062336        Drama          7
2  tt0069049        Drama          7

In [11]:
# convert map to dictionary
title_genres = pd.DataFrame({'tconst': map.keys(),
                             'genres_id': map.values()})
title_genres.head()

      tconst  genres_id
0     Action          0
1      Adult          1
2  Adventure          2
3  Animation          3
4  Biography          4

In [12]:
title_genres = title_genres.drop_duplicates(subset='tconst')

In [13]:
title_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tconst     26 non-null     object
 1   genres_id  26 non-null     int64
dtypes: int64(1), object(1)
memory usage: 624.0+ bytes

In [14]:
title_genres.dtypes

tconst       object
genres_id     int64
dtype: object

In [15]:
# Create the sqlalchemy engine and connection
username = "root"
password = "206!!Lbs" 
# password = quote_plus("Myp@ssword!") 
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [16]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres
4        tmdb_data

In [17]:
q= '''SELECT * FROM title_genres'''
pd.read_sql(q, conn)

Empty DataFrame
Columns: [tconst, genre_id]
Index: []

In [18]:
q= '''DESCRIBE title_genres'''
describe = pd.read_sql(q, conn)
describe

      Field Type Null  Key Default Extra
0    tconst  int   NO  PRI    None
1  genre_id  int   NO  PRI    None

In [19]:
# Checking describe's Field names
describe['Field'].values

array(['tconst', 'genre_id'], dtype=object)

In [20]:
title_genres.columns

Index(['tconst', 'genres_id'], dtype='object')

In [21]:
# Rename columns to match SQL table
rename_map = {"tconst":"tconst", "genres_split":"genre_id"}
title_genres = title_genres.rename(rename_map,axis=1)
title_genres.head(2)

   tconst  genres_id
0  Action          0
1   Adult          1

In [22]:
# Reviewing SQL table's data types
describe[['Field','Type']]

      Field Type
0    tconst  int
1  genre_id  int

In [23]:
title_genres.dtypes

tconst       object
genres_id     int64
dtype: object

In [24]:
title_genres['genres_id'] = title_genres['genres_id'].astype(int)

In [25]:
q = '''DESCRIBE title_genres;'''
describe = pd.read_sql(q, engine)
describe

      Field Type Null  Key Default Extra
0    tconst  int   NO  PRI    None
1  genre_id  int   NO  PRI    None

In [26]:
title_genres_dtypes = {'tconst': INT(),
                       'genre_id': INT()}

In [29]:
title_genres.to_sql("title_genres", conn, index=False, dtype=title_genres_dtypes, if_exists='replace')

DataError: (pymysql.err.DataError) (1366, "Incorrect integer value: 'Action' for column 'tconst' at row 1")
[SQL: INSERT INTO title_genres (tconst, genres_id) VALUES (%(tconst)s, %(genres_id)s)]
[parameters: ({'tconst': 'Action', 'genres_id': 0}, {'tconst': 'Adult', 'genres_id': 1}, {'tconst': 'Adventure', 'genres_id': 2}, {'tconst': 'Animation', 'genres_id': 3}, {'tconst': 'Biography', 'genres_id': 4}, {'tconst': 'Comedy', 'genres_id': 5}, {'tconst': 'Crime', 'genres_id': 6}, {'tconst': 'Drama', 'genres_id': 7}  ... displaying 10 of 26 total bound parameter sets ...  {'tconst': 'Western', 'genres_id': 24}, {'tconst': '\\N', 'genres_id': 25})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [ ]:
engine.execute('ALTER TABLE movies_db.title_genres ADD PRIMARY KEY (`tconst`);')